# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
- List Popular Languages for Data Science
- Commonly used libraries for Data Science
- Data Science Tools
- Evaluating Arithmetic expressions in Python
- Understanding and using Jupyter Notebooks

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Java
6. JavaScript
7. Julia

### Some of the commonly used libraries used by Data Scientists include: 
1. ggplot
2. Matplotlib
3. TensorFlow
4. SciKitLearn
5. NumPy
6. Keras
7. Pandas

| **Data Science Tools** |
| ------------------ |
|   Data Management  |
| Data Integration and Transformation | 
|   Data Visualization |
|    Model Building |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
## This is a simple arithmetic expression to multiply then add integers. 
print (3*4+5)

17

In [11]:
## This will convert 200 minutes to hours by dividing by 60. 
print (200/60)

3.3333333333333335

## Author
Edgar S.